<a href="https://colab.research.google.com/github/ArturKapan/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts >10].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

Other    34299
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [20]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_gt1 = class_counts.loc[class_counts > 1]
class_counts_gt1

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [21]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [22]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)

In [23]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_numeric['IS_SUCCESSFUL']


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [24]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 10)                360

 dense_4 (Dense)             (None, 5)                 55

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 421
Trainable params: 421
Non-trainable params: 0
_________________________________________________________________

In [26]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [27]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7953 - accuracy: 0.6421
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6108 - accuracy: 0.6859
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5977 - accuracy: 0.6965
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5911 - accuracy: 0.7007
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5896 - accuracy: 0.7043
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5862 - accuracy: 0.7037
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5845 - accuracy: 0.7049
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5838 - accuracy: 0.7026
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5835 - accuracy: 0.7066
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5815 - accuracy: 0.7066
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5804 - accuracy: 0.7071
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5819 - accuracy: 0.7043
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5793 - accuracy: 0.7083
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5802 - accuracy: 0.7071
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5792 - accuracy: 0.7050
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5789 - accuracy: 0.7069
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5786 - accuracy: 0.7068
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5781 - accuracy: 0.7086
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5778 - accuracy: 0.7086
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5777 - accuracy: 0.7070
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5775 - accuracy: 0.7089
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5773 - accuracy: 0.7076
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5770 - accuracy: 0.7087
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5765 - accuracy: 0.7089
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5770 - accuracy: 0.7096
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5769 - accuracy: 0.7083
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5767 - accuracy: 0.7100
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5759 - accuracy: 0.7105
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5760 - accuracy: 0.7088
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5756 - accuracy: 0.7096
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5754 - accuracy: 0.7098
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5755 - accuracy: 0.7102
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5749 - accuracy: 0.7110
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5755 - accuracy: 0.7094
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5752 - accuracy: 0.7094
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5758 - accuracy: 0.7108
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5748 - accuracy: 0.7101
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5746 - accuracy: 0.7105
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5750 - accuracy: 0.7107
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5750 - accuracy: 0.7117
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5746 - accuracy: 0.7115
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5749 - accuracy: 0.7102
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5748 - accuracy: 0.7103
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5748 - accuracy: 0.7095
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5744 - accuracy: 0.7103
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5744 - accuracy: 0.7113
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5746 - accuracy: 0.7104
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5748 - accuracy: 0.7107
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5744 - accuracy: 0.7105
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5744 - accuracy: 0.7116
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5745 - accuracy: 0.7102
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5740 - accuracy: 0.7095
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5741 - accuracy: 0.7098
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5742 - accuracy: 0.7107
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5742 - accuracy: 0.7112
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5739 - accuracy: 0.7103
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5743 - accuracy: 0.7114
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5738 - accuracy: 0.7109
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5740 - accuracy: 0.7116
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5737 - accuracy: 0.7111
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5737 - accuracy: 0.7118
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5737 - accuracy: 0.7107
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5737 - accuracy: 0.7113
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5739 - accuracy: 0.7112
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5738 - accuracy: 0.7113
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5736 - accuracy: 0.7104
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5738 - accuracy: 0.7102
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5736 - accuracy: 0.7105
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5735 - accuracy: 0.7112
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5732 - accuracy: 0.7112
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5732 - accuracy: 0.7112
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5736 - accuracy: 0.7115
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5732 - accuracy: 0.7122
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5735 - accuracy: 0.7124
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5744 - accuracy: 0.7119
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5729 - accuracy: 0.7124
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5732 - accuracy: 0.7119
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5732 - accuracy: 0.7110
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5729 - accuracy: 0.7119
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5737 - accuracy: 0.7111
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5726 - accuracy: 0.7111
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5730 - accuracy: 0.7104
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5730 - accuracy: 0.7119
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5732 - accuracy: 0.7100
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5728 - accuracy: 0.7119
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5731 - accuracy: 0.7116
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5729 - accuracy: 0.7117
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5726 - accuracy: 0.7104
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5729 - accuracy: 0.7119
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5726 - accuracy: 0.7123
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5728 - accuracy: 0.7115
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5723 - accuracy: 0.7126
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5724 - accuracy: 0.7129
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5730 - accuracy: 0.7142
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5724 - accuracy: 0.7125
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5726 - accuracy: 0.7117
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5725 - accuracy: 0.7122
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5724 - accuracy: 0.7127
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5728 - accuracy: 0.7110
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5728 - accuracy: 0.7118

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5805 - accuracy: 0.7094 - 763ms/epoch - 3ms/step
Loss: 0.5804816484451294, Accuracy: 0.7093877792358398

In [29]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity.h5')
files.download('/content/AlphabetSoupCharity.h5')